<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="cleartype" content="on">
<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">
<meta name="msapplication-config" content="{{'/browserconfig.xml' | prepend: site.baseurl }}" />
<meta name="theme-color" content="#ffffff">