---
layout: default
---
{% if page.covervid %}
<!-- Video Markup -->
<figure class="masthead">
    <video class="masthead-video" autoplay loop muted poster="{{'/assets/uploads/default.jpg' | prepend: site.baseurl }}">
        <source src="{{ page.covervid | prepend: site.baseurl }}" type="video/mp4">
    </video>
    <figcaption>
        <div class="masthead-overlay">
        </div><div class="masthead-arrow"></div>
        <h1>{{ page.hero-heading }}<span>{{ page.hero-subheading }}</span></h1>
        <div class="masthead-video-credit">
            <span>Video: {{ page.masthead-video-credit-title }}</span>
            <span>by {{ page.masthead-video-credit-name }}</span>
        </div>
    </figcaption>
</figure>
{% endif %}
{% if page.image %}
<img
    data-sizes="auto"
    data-src="{{ page.image | prepend: site.baseurl | prepend: site.imageurl }}"
    data-srcset="{{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=200 200w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=320 320w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=480 480w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=640 640w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=768 768w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=1024 1024w,
    {{ page.image | prepend: site.baseurl | prepend: site.imageurl }}?w=1280 1280w" class="lazyload" />
{% endif %}
{% if page.youtube %}
<iframe class="lazyload"  data-src="https://www.youtube.com/embed/{{ page.youtube }}?showinfo=0&rel=0&controls=1" frameborder="0" allowfullscreen></iframe>
{% endif %}
{% if page.vimeo %}
<iframe class="lazyload" data-src="https://player.vimeo.com/video/{{ page.vimeo }}?color=ffffff"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{% endif %}



<div class="fb-share-button" data-href="https://jameswquinn.github.io/mynewsite/" data-layout="button" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fjameswquinn.github.io%2Fmynewsite%2F&amp;src=sdkpreparse">Share</a></div>


<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>

<!--
<video autoplay loop muted poster"">
	<source src="the-sky-is-calling-large.mp4" media="screen and (min-device-width:801px)" type="video/mp4">
	<source src="the-sky-is-calling-large.webm" media="screen and (min-device-width:801px)"type="video/webm">
	<source src="the-sky-is-calling-small.mp4" media="screen and (max-device-width:800px)" type="video/mp4">
	<source src="the-sky-is-calling-small.webm" media="screen and (max-device-width:800px)" type="video/webm">
</video>
-->


